@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.doctor-header {
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
}

.doctor-body {
    padding: 20px;
    align-items: center;
    /* background-color: #f5f6fc; */
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.doctor-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 10px;
}