.overview {
    display:block;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px 4px 10px 10px;
    border-radius: 30px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;

    margin-inline: 20px;
    margin-block: 20px;
}

.header {
    margin: 0 12px;

    font-weight: 600;
    font-style: normal;
}