@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    display:block;

    position:absolute;
    bottom: 50px;

    align-items: center;
    justify-content: space-between;

    border-radius: 14px;
    width: 85%;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #555555;

    padding: 6px 6px;
    margin: 4px;
}
.container:hover {
    /* background-color: #efeeee;
    box-shadow: 2px 2px 40px #efeeee; */
    color: black;
    text-shadow: 5px 5px 30px #c0c0c0;
}
.userInfo {
    display: flex;
    align-items: center;
}
.profileImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
.userName {
    margin: 0;
    font-weight: 600;
}
.userSpecialty {
    margin: 0;
    /* color: #777; */
    font-weight: 400;
}
  